@font-face {
    font-family: 'great_vibesregular';
    src: url('/font/GreatVibes-Regular.ttf');
}
@font-face {
    font-family: 'merriweatherbold_italic';
    src: url('/font/Merriweather-Italic.ttf');
}
@font-face {
    font-family: 'arimoregular';
    src: url('/font/Arimo-Regular.ttf');
}
@font-face {
    font-family: 'texgyretermesregular';
    src: url('/font/texgyretermes-regular.otf');
}
@font-face {
    font-family: 'open_sanscondensed_light';
    src: url('/font/OpenSans-CondLight.ttf');
}
@font-face {
    font-family: 'open_sans_condensedbold';
    src: url('/font/OpenSans-CondBold.ttf');
}
@font-face {
    font-family: 'mountainsof_christmas';
    src: url('/font/MountainsofChristmas.ttf');
}
@font-face {
    font-family: 'Quicksand';
    src: url('/font/Quicksand-Regular.otf');
}
@font-face {
    font-family: 'Quicksand-Bold';
    src: url('/font/Quicksand-Bold.otf');
}
@font-face {
    font-family: 'adelicia_script_roug';
    src: url('/font/selima_.otf');
}
@font-face {
    font-family: 'Parisienne';
    src: url('/font/Parisienne-Regular.ttf');
}
@font-face {
    font-family: 'patrick_hand"';
    src: url('/font/PatrickHandSC-Regular.ttf');
}
@font-face {
    font-family: 'spicy_rice';
    src: url('/font/SpicyRice-Regular.otf');
}
@font-face {
    font-family: 'jennasue';
    src: url('/font/JennaSue.ttf');
}
@font-face {
    font-family: 'JosefinSlab-SemiBold';
    src: url('/font/JosefinSlab-Regular.ttf');
}
@font-face {
    font-family: 'luckiestguy';
    src: url('/font/luckiestguy.ttf');
}
@font-face {
    font-family: 'Lato';
    src: url('/font/Lato-Regular.ttf');
}
@font-face {
    font-family: 'Cinzel';
    src: url('/font/CinzelDecorative-Regular.otf');
}
@font-face {
    font-family: 'amatic_scregular';
    src: url('/font/AmaticSC-Regular.ttf');
}
@font-face {
    font-family: 'lobster_regular';
    src: url('/font/Lobster_1.3.otf');
}
@font-face {
    font-family: 'ChopinScript';
    src: url('/font/ChopinScript.ttf');
}
@font-face {
    font-family: 'Courgette-Regular';
    src: url('/font/Courgette-Regular.ttf');
}
@font-face {
    font-family: 'rozha_one_regular';
    src: url('/font/RozhaOne-Regular.ttf');
}
@font-face {
    font-family: 'alex_brush';
    src: url('/font/AlexBrush-Regular.ttf');
}
@font-face {
    font-family: 'aspiredemibold';
    src: url('/font/Aspire-DemiBold.ttf');
}
@font-face {
    font-family: 'angelina';
    src: url('/font/angelina.TTF');
}
@font-face {
    font-family: 'Meddon';
    src: url('/font/Meddon.ttf');
}
@font-face {
    font-family: 'Yesteryear';
    src: url('/font/Yesteryear-Regular.ttf');
}
@font-face {
    font-family: 'ardecoregular';
    src: url('/font/FredokaOne-Regular.otf');
}
@font-face {
    font-family: 'Sail';
    src: url('/font/Sail-Regular.otf');
}
@font-face {
    font-family: 'VastShadow';
    src: url('/font/VastShadow-Regular.ttf');
}
@font-face {
    font-family: 'RibeyeMarrow';
    src: url('/font/RibeyeMarrow-Regular.ttf');
}
@font-face {
    font-family: 'LetsTrace';
    src: url('/font/LetsTracebasic.otf');
}
@font-face {
    font-family: 'Intuitive';
    src: url('/font/intuitive.ttf');
}